<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %>  

    <h1 class="mb-4">Staff Dashboard</h1>

    <%- include('./partials/footer.ejs') %>

</body>
</html>