body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li{
    list-style-type: none;
    margin-left: 20px;
}